---
import PriceDiscounted from "@components/PriceDiscounted.astro";
import StarRating from "@components/StarRating.astro";
import { truncateDecimals } from "@lib/functions";
import { Image } from "astro:assets";
import Pagination from "@components/Pagination.tsx";

const { title, productsArray } = Astro.props;
---

<section class="mx-auto flex flex-col max-lg:container">
  <h3 class="text-left font-satochi text-2xl">{title}</h3>
  <div class="mx-auto justify-center gap-x-3 gap-y-6 lg:gap-y-9">
    {
      productsArray.map((product: any) => (
        <a
          href={`/products/${product.title}?id=${product.id}`}
          class="mx-2 flex max-h-[408px] min-h-72 min-w-48 max-w-[295px] flex-col items-center justify-center lg:mx-3"
        >
          <div class="mb-2">
            <Image
              height={200}
              width={198}
              class="aspect-[198/200] max-h-72 min-w-52 max-w-72 rounded-xl bg-tertiary object-cover"
              src={product.thumbnail}
              alt={product.title}
            />
          </div>
          <div class="flex flex-col gap-1 self-start">
            <h4 class="line-clamp-1 font-satochi text-base font-bold">
              {product.title}
            </h4>
            <div class="flex flex-row items-center font-satochi text-xs">
              <StarRating rating={product.rating} />
              <span class="ml-2.5">{truncateDecimals(product.rating, 1)}/</span>
              <span class="inline opacity-60">5</span>
            </div>
            <PriceDiscounted product={product} />
          </div>
        </a>
      ))
    }
  </div>
  <div class="container mx-auto my-6 border"></div>
  <Pagination />
</section>

<style>
  section > div {
    @apply grid grid-cols-1 md:grid-cols-3;
  }
</style>
